@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .flex-lg-row-fluid {
        flex: 1 auto;
        min-width: 0;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }

    .w-lg-500px {
        width: 500px !important;
    }

    .p-10 {
        padding: 2.5rem !important;
    }

    .mb-10 {
        margin-bottom: 2.5rem !important;
    }

    .bg-transparent {        
        background-color: transparent !important;
    }

    .pb-lg-0 {
        padding-bottom: 0 !important;
    }

    .btn.btn-primary {
        color: #ffffff;
        border-color: #1B84FF;
        background-color: #1B84FF;
    }

    .me-4 {
        margin-right: 1rem !important;
    }

    .form-control {
        padding: 0.775rem 1rem !important;
        font-weight: 500 !important;
        color: #99A1B7 !important;
        background-color: #ffffff;
        border: 1px solid #DBDFE9 !important;
    }

        .form-control:focus {
            border-color: #F1F1F4 !important;
            outline: none !important;
            box-shadow: none !important;
            background-color: #F1F1F4 !important;
            color: #4B5675 !important;
        }

</style>
 
<div class="d-flex">
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
        <div class="w-lg-500px p-10">
            <div class="text-center mb-10">
                <h1 class="text-gray-900 fw-bolder mb-3">
                    Forgot Password ?
                </h1>
                <div class="text-gray-500 fw-semibold fs-6">
                    Enter your email to reset your password.
                </div>
            </div>
            <form class="w-100" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="fv-row mb-3">
                    <input asp-for="Input.Email" class="form-control bg-transparent" autocomplete="username" aria-required="true" placeholder="Email" />
                    
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                    <button type="submit" class="btn btn-primary me-4">Reset Password</button>                  
                </div>
                
            </form>
        </div>
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
